<template>
  <div class="card">
    <div class="card__wrapper">
      <div class="card__block">
        <span class="card__block-month">{{ getMonth(item.startDate) }}</span>
        <span class="card__block-day">{{ getDay(item.startDate) }}</span>
        <span class="card__block-year">{{ getYear(item.startDate) }}</span>
      </div>
      <div class="card__info">
        <span class="card__info-name">Artist Name</span>
        <span class="card__info-tour">{{ item.name }}</span>
        <div class="card__info-location">
          <div class="card__info-item">
            <img src="@/static/svg/time.svg" />
            {{ getTime(item.startDate) }}
          </div>
          <div class="card__info-item">
            <img src="@/static/svg/location-silver.svg" />
            {{ item.city }}, {{ item.country }}
          </div>
        </div>
      </div>
    </div>
    <div class="card__right">
      <div class="card__right-wrapper">
        <div class="card__right-heart" @click="favorite = !favorite" :class="{favorite: favorite}">
          <HeartIcon/>
        </div>
        <label class="card__right-upload">
          <input type="file">
          <img src="@/static/svg/upload-vidio.svg"/>
          Upload video
        </label>
        <label class="card__right-upload">
          <input type="file">
          <img src="@/static/svg/upload-foto.svg"/>
          Upload photos
        </label>
      </div>
      <Dropdown
        :items="dropdownItems"
        v-if="!checkedText"
        @changeValue="checkedText = $event.title"
      />
      <div class="card__right-attended" v-else>
        <img src="@/static/svg/success.svg">
        {{ checkedText }}
      </div>
    </div>
  </div>
</template>

<script>
import { ru } from 'date-fns/locale';
import Dropdown from '@/components/Dropdown';
import HeartIcon from "@/components/HeartIcon";

export default {
  name: "Card",
  components: {
    HeartIcon,
    Dropdown
  },
  props: {
    item: {
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {
      favorite: false,
      checkedText: '',
      dropdownItems: [
        {
          title: 'mark as attented'
        },
        {
          title: 'mark as not attented'
        },
      ],
    }
  },
  methods: {
    getTime(date) {
      return this.$dateFns.format(new Date(date), "HH:mm")
    },
    getMonth(date) {
      return this.$dateFns.format(new Date(date), 'LLLL', { locale: ru })
    },
    getDay(date) {
      return this.$dateFns.format(new Date(date), 'dd', { locale: ru })
    },
    getYear(date) {
      return this.$dateFns.format(new Date(date), 'yyyy')
    }
  }
}
</script>

<style lang="scss" scoped>
.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid #E4E4E4;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    background: #F5F5F5;
    .card__right-heart {
      opacity: 1;
      transform: none;
      visibility: visible;
    }
    .card__right-upload {
      opacity: 1;
      transform: none;
      visibility: visible;
    }
    .card__right-attended {
      opacity: 1;
      transform: none;
      visibility: visible;
    }
    .card__info-tour {
      width: 210px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  &__wrapper {
    display: flex;
    align-items: center;
  }
  &__block {
    width: 134px;
    height: 124px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    box-sizing: border-box;
    border-radius: 4px;
    margin-right: 16px;
    padding: 5px;
    &-month {
      font-size: 16px;
      line-height: 24px;
      color: #212121;
      margin-bottom: 8px;
      text-transform: uppercase;
    }
    &-day {
      font-weight: 600;
      font-size: 24px;
      line-height: 28px;
      color: #212121;
      margin-bottom: 8px;
    }
    &-year {
      font-size: 16px;
      line-height: 24px;
      color: #212121;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    &-name {
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      color: #212121;
      margin-bottom: 16px;
    }
    &-tour {
      display: block;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      color: #212121;
      margin-bottom: 16px;
    }
    &-location {
      display: flex
    }
    &-item {
      display: flex;
      align-items: center;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      color: #212121;
      &:first-child {
        margin-right: 16px;
      }
      img {
        width: 20px;
        height: 20px;
        margin-right: 8px;
      }
    }
  }
  &__right{
    display: flex;
    &-wrapper {
      display: flex;
      align-items: center;
    }
    &-heart {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #FFFFFF;
      border: 1px solid #E4E4E4;
      box-sizing: border-box;
      border-radius: 28px;
      margin-right: 16px;
      cursor: pointer;
      opacity: 0;
      position: relative;
      transform: translateY(20px);
      transition: 0.3s;
      &.favorite {
        ::v-deep svg {
          g {
            path{
              fill: red;
            }
          }
        }
      }
      ::v-deep svg {
        width: 20px;
        height: 20px;
        g {
          path{
            transition: 0.3s;
          }
        }
      }
    }
    &-upload {
      display: flex;
      align-items: center;
      background: #FFFFFF;
      border: 1px solid #E4E4E4;
      box-sizing: border-box;
      border-radius: 28px;
      padding: 9px 15px;
      margin-right: 16px;
      cursor: pointer;
      opacity: 0;
      position: relative;
      transform: translateY(20px);
      visibility: hidden;
      transition: 0.3s;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      color: #212121;
      input {
        display: none;
      }
      img {
        margin-right: 8px;
      }
    }
    &-attended {
      display: flex;
      align-items: center;
      background: #346DFF;
      border-radius: 28px;
      padding: 10px 16px;
      cursor: pointer;
      position: relative;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      color: #FFFFFF;
      img {
        margin-right: 8px;
      }
    }
  }
}
</style>
