<template>
  <div class="filter-by__date date">
    <v-menu
      ref="menu"
      v-model="popup"
      :close-on-content-click="false"
      transition="scroll-y-reverse-transition"
      offset-y
      :nudge-left="100"
      :nudge-bottom="4"
    >
      <template v-slot:activator="{ on, attrs }">
        <div class="date__chip" v-on="on" :class="{active: popup, checked: date.length > 0}">
          Date
          <img src="@/static/svg/delete.svg" v-if="date.length > 0" @click.stop="removeLocation()" />
        </div>
      </template>
      <v-date-picker
        v-model="date"
        no-title
        scrollable
        range
        @change="setFilter"
        color="#346DFF"
      >
      </v-date-picker>
    </v-menu>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "FilterByDate",
  data: () => ({
    popup: false,
    date: [],
  }),
  methods: {
    ...mapActions({
      filterConcerts: 'concerts/filterConcerts',
      clearFilters: 'concerts/clearFilters'
    }),

    setFilter() {
      this.filterConcerts({
        filter: 'date',
        value: this.date
      });
      this.clearDatepicker();
    },

    clearDatepicker() {
      this.popup = false;
    },

    removeLocation() {
      this.date = [];
      this.clearFilters('date');
    }
  }
}
</script>

<style lang="scss" scoped>
.date {
  margin-right: 8px;
  &__chip {
    display: flex;
    align-items: center;
    padding: 9px 15px;
    background: #F5F5F5;
    border-radius: 24px;
    box-sizing: border-box;
    transition: 0.3s;
    border: 1px solid transparent;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #212121;
    &.active {
       color: #164FE1;
      border-color: #164FE1;
    }
    &.checked {
      border-color: #164FE1;
    }
    img {
      margin-left: 8px;
    }
  }
}
::v-deep .v-btn {
  border-radius: 0 !important;
}
</style>
