<template>
  <v-menu
    bottom
    origin="center center"
    transition="scale-transition"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        v-bind="attrs"
        v-on="on"
        outlined
        rounded
        height="40"
      >
        <img class="mr-2" src="@/static/svg/succes-black.svg" />
        Concert attended
        <img class="ml-2" src="@/static/svg/arrow-black.svg" />
      </v-btn>
    </template>

    <v-list>
      <v-list-item
        v-for="(item, i) in items"
        :key="i"
        @click="$emit('changeValue',item)"
      >
        <v-list-item-title>{{ item.title }}</v-list-item-title>
      </v-list-item>
    </v-list>
  </v-menu>
</template>

<script>
export default {
  name: "Dropdown",
  props: {
    items: {
      type: Array,
      default: () => []
    }
  },
}
</script>

<style lang="scss" scoped>
.empty {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #575151;
}
.v-btn {
  color: #000 !important;
  background-color: #fff !important;
  border-color: #e8e8e8 !important;
  text-transform: unset;
}
.v-list-item__title {
  cursor: pointer;
}
</style>
