<template>
  <div class="empty">
    <p>Nothing found for your request!</p>
  </div>
</template>

<script>
export default {
  name: "Empty",
}
</script>

<style lang="scss" scoped>
.empty {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #575151;
}
</style>
