<template>
  <div class="filter-by">
    <span class="filter-by__text">Filter by:</span>
    <DatePicker />
    <Location />
  </div>
</template>

<script>
import DatePicker from "@/components/Datepicker"
import Location from "@/components/Location";

export default {
  name: "FilterBy",
  components: {
    DatePicker,
    Location
  }
}
</script>

<style lang="scss" scoped>
.filter-by {
  display: flex;
  align-items: center;
  &__text {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #080707;
    margin-right: 8px;
  }
}
</style>
