<template>
  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_3_1041)">
      <path d="M19.421 4.22916C19.0289 3.46613 18.4633 2.80571 17.7696 2.30094C17.0759 1.79617 16.2736 1.46112 15.4269 1.3227C14.5803 1.18428 13.713 1.24635 12.8947 1.50393C12.0764 1.76151 11.3299 2.20741 10.7152 2.80582L10.0002 3.45666L9.31017 2.82832C8.6969 2.21853 7.94703 1.76381 7.1228 1.50192C6.29858 1.24003 5.42377 1.17852 4.571 1.32249C3.72312 1.45503 2.91907 1.78788 2.22558 2.29339C1.5321 2.7989 0.969163 3.46252 0.583501 4.22916C0.0681463 5.23909 -0.111942 6.38698 0.0693766 7.50621C0.250695 8.62543 0.783984 9.65775 1.59183 10.4533L9.40267 18.5C9.48033 18.5799 9.57322 18.6434 9.67585 18.6867C9.77848 18.7301 9.88876 18.7524 10.0002 18.7524C10.1116 18.7524 10.2219 18.7301 10.3245 18.6867C10.4271 18.6434 10.52 18.5799 10.5977 18.5L18.3968 10.4683C19.2088 9.67238 19.7458 8.63832 19.93 7.51635C20.1142 6.39437 19.9359 5.24289 19.421 4.22916ZM17.2143 9.29249L10.2977 16.4133C10.2588 16.4533 10.2124 16.485 10.1611 16.5067C10.1098 16.5284 10.0546 16.5395 9.99892 16.5395C9.94321 16.5395 9.88807 16.5284 9.83676 16.5067C9.78544 16.485 9.739 16.4533 9.70017 16.4133L2.77267 9.27999C2.2135 8.73187 1.8436 8.0198 1.71668 7.24715C1.58975 6.47451 1.71241 5.68152 2.06683 4.98332C2.33515 4.45114 2.72661 3.99068 3.20868 3.64022C3.69075 3.28975 4.2495 3.05941 4.8385 2.96832C5.43835 2.86739 6.05365 2.91181 6.63279 3.09784C7.21192 3.28388 7.73798 3.60611 8.16683 4.03749L9.44183 5.20416C9.59531 5.34399 9.79546 5.4215 10.0031 5.4215C10.2107 5.4215 10.4109 5.34399 10.5643 5.20416L11.8652 4.01832C12.2923 3.59334 12.8147 3.27639 13.3889 3.09377C13.9632 2.91116 14.5727 2.86815 15.1668 2.96832C15.7551 3.0599 16.3131 3.29048 16.7944 3.64093C17.2757 3.99137 17.6665 4.45157 17.9343 4.98332C18.2889 5.68463 18.4103 6.48084 18.2808 7.25595C18.1513 8.03106 17.7777 8.74456 17.2143 9.29249Z" fill="#212121"/>
    </g>
    <defs>
      <clipPath id="clip0_3_1041">
        <rect width="20" height="20" fill="white"/>
      </clipPath>
    </defs>
  </svg>
</template>

<script>
export default {
  name: "HeartIcon"
}
</script>

<style scoped>

</style>
