<template>
  <div class="filter-by__location location">
    <v-menu
      min-width="300"
      transition="scroll-y-reverse-transition"
      v-model="popup"
      :close-on-content-click="false"
      offset-y
      :nudge-bottom="4"
      :nudge-left="100"
      max-height="372"
    >
      <template v-slot:activator="{ on, attrs }">
        <div
          class="location__chip"
          v-bind="attrs"
          v-on="on"
          :class="{active: popup,checked: addedLocations}"
        >
          <span>{{addedLocations ? `${addedLocations}` : 'location' }}</span>
          <img src="@/static/svg/delete.svg" v-if="addedLocations" @click.stop="removeLocation()" />
        </div>
      </template>
      <div class="location__popup">
        <div class="location__popup-input">
          <input placeholder="Search for location" v-model="location" @input="filterLocations">
          <img src="@/static/svg/search.svg" />
        </div>
        <div class="location__popup-correct">
          <img src="@/static/svg/location.svg" />
          Use my current location
        </div>
        <div class="location__popup-result" v-if="getLocations.length !== 0">
          <span class="location__popup-result-text">{{ getLocations.length }} Results</span>
          <div class="location__popup-item"
               v-for="(item,key) in getLocations"
               :key="key"
               @click="addLocation(item)"
          >
            <img :src="require(`@/static/${item.icon}`)" />
            {{ item.city }}, {{ item.country }}
          </div>
        </div>
      </div>
    </v-menu>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
  name: "Location",
  data: () => ({
    popup: false,
    location: '',
    addedLocations: '',
  }),
  methods: {
    ...mapActions({
      loadLocations: 'concerts/loadLocations',
      filterConcerts: 'concerts/filterConcerts',
      clearFilters: 'concerts/clearFilters'
    }),

    async filterLocations() {
      await this.loadLocations(this.location);
    },

    addLocation(item) {
      this.addedLocations = item.city;
      this.clearAutocomplete();
      this.filterConcerts({
        filter: 'location',
        value: item.city
      });
    },

    clearAutocomplete() {
      this.popup = false;
      this.location = '';
      this.loadLocations(this.location);
    },

    removeLocation() {
      this.addedLocations = '';
      this.clearFilters('location');
    }
  },
  computed: {
    ...mapGetters({
      getLocations: 'concerts/getLocations'
    })
  }
}
</script>

<style lang="scss" scoped>
.location {
  &__chip {
    display: flex;
    align-items: center;
    padding: 9px 15px;
    background: #F5F5F5;
    border-radius: 24px;
    box-sizing: border-box;
    transition: 0.3s;
    border: 1px solid transparent;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #212121;
    &.active {
      color: #164FE1;
      border-color: #164FE1;
    }
    &.checked {
      border-color: #164FE1;
    }
    img {
      margin-left: 8px;
    }
  }
  &__popup {
    padding: 16px;
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    box-sizing: border-box;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    &-input {
      position: relative;
      margin-bottom: 32px;
      input {
        width: 100%;
        background: #F5F5F5;
        border-radius: 4px;
        outline: none;
        padding: 10px 10px 10px 40px;
        box-sizing: border-box;
        height: 40px;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: #212121;
        border: 1px solid transparent;
        &::placeholder {
          color: #9E9E9E;
        }
        &:focus {
          border-color: #346DFF;
        }
      }
      img {
        width: 20px;
        height: 20px;
        position: absolute;
        left: 10px;
        top: 10px;
      }
    }
    &-correct {
      display: flex;
      align-items: center;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      color: #212121;
      cursor: pointer;
      img {
        margin-right: 8px;
      }
    }
    &-result {
      margin-top: 32px;
      &-text {
        display: block;
        font-size: 14px;
        line-height: 20px;
        text-transform: uppercase;
        color: #212121;
        margin-bottom: 16px;
      }
    }
    &-item {
      display: flex;
      align-items: center;
      font-size: 14px;
      line-height: 20px;
      color: #212121;
      cursor: pointer;
      &.selected {
        background-color: #e8e8e8;
      }
      &:not(:last-child) {
        margin-bottom: 16px;
      }
      img {
        margin-right: 8px;
      }
    }
  }
}
</style>
