<template>
  <div class="main">
    <div class="main__header">
      <span class="main__header-text">{{ getConcertsLength }} Gigs</span>
      <filters></filters>
    </div>
    <div class="main__body">
      <div v-if="getList.length > 0">
        <card

          v-for="( item ) in getList"
          :key="item.id"
          :item="item"
        />
      </div>
      <Empty v-else/>
      <div
        v-if="getConcertsLength > getList.length"
        class="main__more"
        @click="loadMore()"
      >
        Load more
        <img src="@/static/svg/arrow-black.svg" />
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from 'vuex';
import Filters from '@/components/Filters';
import Card from '@/components/Card';
import Empty from '@/components/Empty';

export default {
  name: 'IndexPage',
  components: {
    Filters,
    Card,
    Empty
  },
  computed: {
    ...mapGetters({
      getConcertsLength: 'concerts/getConcertsLength',
      getPerPage: 'concerts/getPerPage',
      getPageLimit: 'concerts/getPageLimit'
    }),
    getList() {
      return this.$store.getters['concerts/getList']
    }
  },
  mounted() {
    this.loadConcerts({
      perPage: this.getPerPage,
      limit: this.getPageLimit
    })
  },
  methods: {
    ...mapActions({
      loadConcerts: 'concerts/loadConcerts'
    }),
    ...mapMutations({
      setPerPage: 'concerts/setPerPage'
    }),

    loadMore() {
      this.setPerPage();
      this.loadConcerts({
        perPage: this.getPerPage,
        limit: this.getPageLimit
      })
    }
  }
}
</script>
<style lang="scss" scoped>
.main {
  height: 100%;
  padding: 86px 149px;
  &__body {
    height: 100%;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 24px;
    border-bottom: 1px solid #E4E4E4;
    &-text{
      font-weight: 600;
      font-size: 24px;
      line-height: 28px;
      color: #212121;
    }
  }
  &__more {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #212121;
    img {
      margin-left: 8px;
    }
  }
}
</style>
